/* reset all elements */

#annotatr_controls, 
  #annotatr_controls p,
  #annotatr_controls ul,
  #annotatr_controls li,
  #annotatr_controls li a,
  #annotatr_controls li a.active,
.annotatr_annotation,
.annotatr_callout,
.annotatr_text,
.annotatr_notshown,
#annotatr_specification,
  #annotatr_specification th,
  #annotatr_specification td,
#annotatr_specification_table,
  #annotatr_specification th,
  #annotatr_specification td,
.annotatr_callout
{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: static;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  line-height: 1.5;
  vertical-align: baseline;
}

#annotatr_controls {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ddd;
  color: #666;
  padding: 5px;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
} 
  #annotatr_controls p {
    float: left;
    margin: 0 10px 0 10px;
    color: #999;
  }
  #annotatr_controls ul {
  	float: left;
  }
    #annotatr_controls li {
    	display: inline-block;
      margin: 0 5px 0 0px;
    }
      #annotatr_controls li a {
        padding: 3px;
      	color: #000;
      	font-weight: bold;
      	outline: none;
      	text-decoration: none;
      }
        #annotatr_controls li a.active {
          padding: 3px;
        	color: #fff;
        	font-weight: bold;
        	background-color: #00aeef;
        	outline: none;
        }


.annotatr_annotation {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.annotatr_callout {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 5px;
  background-color: #00aeef;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 10000;
  border: 1px solid #fff;
  font-size: 10px;
  line-height: 1;
}
.annotatr_callout_hidden .annotatr_callout {
  background-color: #777;
}
.annotatr_notshown {
  color: #777;
  font-size: 10px;
}
.annotatr_text {
	font: 12px/1.4 normal "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  display: none;
  position: absolute;
  top: 20px;
  left: -19px;
  z-index: 100;
  background-color: #eee;
  border: 1px solid #00aeef;
  color: #666;
  width: 300px;
  padding: 5px 10px;
  text-align: left;
}
  a .annotatr_text { text-decoration: none !important;}

.annotatr_notshown {
  display: inline-block;
  color: #999;
}

#annotatr_specification {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  background-color: #efefef;
  padding: 1em 0px;
  clear: both;
  margin: 50px 25px;
}
  #annotatr_specification:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }
  #annotatr_specification #annotatr_header {
    margin: 0 1em 1em 1em;
  	font: 12px/1.5 bold "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  	text-transform: uppercase;
  	font-weight: bold;
  	color: #666;
  	
  }
#annotatr_specification_pageinfo {
	font: 12px/1.5 bold "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  float: left;
  width: 33%;
}
  #annotatr_specification_pageinfo th, #annotatr_specification_pageinfo td  {
    text-align: left;
    padding: 0 1em;
    vertical-align: top;
  }
  #annotatr_specification_pageinfo th  {
    text-transform: uppercase !important;
  }

#annotatr_specification_table {
  float: left;
  width: 66%;
  border-collapse: collapse;  
  border-top: 1px solid #999;
	font: 12px/1.5 normal "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
  #annotatr_specification_table th {
    border-bottom: 1px solid #999;
    padding: 4px 4px 4px 0;
    vertical-align: top;
  }
  #annotatr_specification_table td {
    border-bottom: 1px solid #999;
    padding: 4px 0 4px 8px;
    vertical-align: top;
  }
  #annotatr_specification_table .annotatr_callout {
    position: static;
  }

.annotatr_hotspot {
  background-color: #ffcccc !important;
  background-color: rgba(255,0,0,.2) !important;
  border: 1px solid red !important;
}

